<link rel="import" href="teso-cube.html">

<polymer-element name="teso-alchemy">
    <template>
        <style>
            teso-cube {
                
            }
            :host {
                width: 120%;
                height: 120%;
                overflow: hidden;
                display: block;
                -webkit-transform-origin: left;
                -webkit-transform-style: preserve-3d;
                -webkit-perspective: 12000px;
                -webkit-transform:rotateY(15deg);
                padding: 5% 30%;
            }
            .yLine {
                -webkit-flex-flow: wrap;
                display: -webkit-flex;
                
            }
            .zLine {
                position: absolute;
                display: block;
                -webkit-transform-style: preserve-3d;
                -webkit-transform-origin: 0% 0% 0%;
            }
            
            .yLine, zLine {
                -webkit-transform-style: preserve-3d;    
            }
            
        </style>
        
        <template repeat="{{zLine, i in container}}">
            <section class="zLine" style="-webkit-transform: rotate3d(1,1,1,{{rotation}}deg) translateZ({{200*i}}px) " >
                <template repeat="{{yLine in zLine}}">
                    <section class="yLine">
                        <template repeat="{{xLine in yLine}}">
                            <teso-cube></teso-cube>
                        </template>
                    </section>
                </template>
            </section>
        </template>
    </template>
    <script>
        Polymer("teso-alchemy", {
            cubes: 4,
            makeArray: function(length, depth) {
                var ret = [];
                for(var x = 0; x < length; x++) {
                    if(depth != 1) {
                        ret.push(this.makeArray(length, depth-1));
                    } else {
                        ret.push("");   
                    }
                }
                return ret;
            },
            ready: function() {
                this.container = this.makeArray(this.cubes, 3);
                this.lastTime = 0;
                this.update(0);
            },
            update: function(curTime) {
                var delta = (curTime - this.lastTime) * .001;
                
                this.rotation += .16;
                this.lastTime = curTime;
                requestAnimationFrame(this.update.bind(this));
            },
            rotation: 0
        });
    </script>
</polymer-element>