<link rel="import" href="teso-cube.html">

<polymer-element name="teso-alchemy">
    <template>
        <style>
            teso-cube {
                
            }
            :host {
                width: 120%;
                height: 120%;
                overflow: hidden;

                -webkit-transform-style: preserve-3d;
            }
            .yLine {
                -webkit-flex-flow: wrap;
                display: -webkit-flex;
                
            }
            .zLine {
                position: absolute;
            }
            
        </style>
        
        <template repeat="{{zLine in container}}">
            <section class="zLine">
                <template repeat="{{yLine in zLine}}">
                    <section class="yLine">
                        <template repeat="{{xLine in yLine}}">
                            <teso-cube></teso-cube>
                        </template>
                    </section>
                </template>
            </section>
        </template>
    </template>
    <script>
        Polymer("teso-alchemy", {
            cubes: 4,
            makeArray: function(length, depth) {
                var ret = [];
                for(var x = 0; x < length; x++) {
                    if(depth != 0) {
                        ret.push(this.makeArray(length, depth-1));
                    } else {
                        ret.push("");   
                    }
                }
                return ret;
            },
            ready: function() {
                this.container = this.makeArray(this.cubes, 3);
                
            }
        });
    </script>
</polymer-element>